
body {
	background:  #CCC64D;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	display: flex;
	margin: 0px;
	justify-content: center;
	align-items: center;
}

button {
	background: transparent;
	border: 0px;
	outline: none;
	font-size: 30px;
}

.container {
    width: 240px;
    height: 450px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 3s;
    -moz-transition: -moz-transform 3s;
    -o-transition: -o-transform 3s;
    transition: transform 3s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
}

.card div {
	height: 100%;
    width: 100%;
    display: block;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card.flipped {
    -webkit-transform: rotateY( 2700deg );
    -moz-transform: rotateY( 2700deg );
    -o-transform: rotateY( 2700deg );
    transform: rotateY( 2700deg );
}

.card .front {
  background: #55532A;
  position: relative;
}

.card .back {
	background: #FFFCB8;
	position: relative;
	bottom: 450px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card .front .front-container {
	color: #FFFCB8;
	height: 390px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .back .back-container {
	color: #55532A;
	height: 390px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .front .front-footer {
	color: white;
	height: 60px;
    position: absolute;
    bottom: 0px;
	display: flex;
    justify-content: space-around;
	font-size: 30px;
}

.card .back .back-footer {
	height: 60px;
    position: absolute;
    bottom: 0px;
	display: flex;
    justify-content: space-around;
}

.card .front .front-footer button {
	color: #FFFCB8;
}

.card .back .back-footer button {
	color: #55532A;
}

.quote-text {
	margin: 20px 20px 0px 20px;
	font-size: 16px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif */
}

.quote-author {
	color: #B5B49C;
	margin: 0px 20px 20px 20px;
	text-align: end;
	font-size: 14px;
	font-family: monospace;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	/* font-family: Arial, Helvetica, sans-serif; */
}

@media(min-width:768px) {

    button {
        margin: 0px 20px 0px 0px;
    }

    .container {
        width: 600px;
        height: 450px;
    }

    .card div {
        line-height: 25px;
    }

    .card .front .front-footer {
        justify-content: flex-end;
    }

    .card .back .back-footer {
        justify-content: flex-end;
    }

    .quote-text {
        margin: 20px 70px 0px 70px;
    }

    .quote-author {
        margin: 15px 90px 20px 90px;
    }
}
